<button type="button" class="btn btn-info">
  <%= link_to "Check all items", items_path %>
</button>

<% %w[pending accepted declined cancelled].each do |status| %>
  <% count = instance_variable_get("@#{status}_bookings_count") %>
  <% concat(content_tag(:h2, "#{status.capitalize}: You have #{count} #{count == 1 ? 'booking' : 'bookings'}")) %>
<% end %>

<ul>
  <% @bookings.each do |booking| %>
    <h5><%= booking.item.name %></h5>
    <li>Category: <%= booking.item.category %></li>
    <li>Description: <%= booking.item.description %></li>
    <li>Start date: <%= booking.start_date.strftime("%d %b %Y") %></li>
    <li>End date: <%= booking.end_date.strftime("%d %b %Y") %></li>
    <li>Price per day: <%= booking.item.price.to_i %> euros</li>
    <li>Rental days: <%= (booking.end_date - booking.start_date).to_i %></li>
    <li>Total price: <%= booking.total_price %> euros</li>
    <li>Booking status: <%= booking.status %></li>
    <button type="button" class="btn btn-warning">
      <%= link_to "Edit",
        edit_booking_path(booking)
      %>
    </button>
    <button type="button" class="btn btn-danger">
      <%= link_to "Cancel",
        booking_cancel_path(booking),
        data: {turbo_confirm: "Are you sure you want to cancel the booking?"}
      %>
    </button>
  <% end %>
</ul>
