<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
<div class="row bootstrap snippets bootdeys">
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <div class="card">
            <div class="thumbnail">
                <%= image_tag 'photog.jpg' %>
                <a href="#" class="thumb-cover"></a>
                <div class="details">
                    <div class="authors-container">
                        <div class="author">
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="card-info">
                <a href="#">
                    <h3>Camera & Photography</h3>
                    <div class="circle-red"><i class="fa-solid fa-camera"></i></div>
                </a>
            </div>
        </div>
    </div>

        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <div class="card">
            <div class="thumbnail">
                <%= image_tag 'audio.jpg' %>
                <a href="#" class="thumb-cover"></a>
                <div class="details">
                    <div class="authors-container">
                        <div class="author">
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="card-info">
                <a href="#">
                    <h3>Audio & Visual</h3>
                    <div class="circle-red"><i class="fa-solid fa-microphone"></i></i></div>
                </a>
            </div>
        </div>
    </div>

        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <div class="card">
            <div class="thumbnail">
                <%= image_tag 'music.jpg' %>
                <a href="#" class="thumb-cover"></a>
                <div class="details">
                    <div class="authors-container">
                        <div class="author">
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="card-info">
                <a href="#">
                    <h3>Musical Instruments</h3>
                    <div class="circle-red"><i class="fa-solid fa-guitar"></i></div>
                </a>
            </div>
        </div>
    </div>

        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <div class="card">
            <div class="thumbnail">
                <%= image_tag 'transportation.jpg' %>
                <a href="#" class="thumb-cover"></a>
                <div class="details">
                    <div class="authors-container">
                        <div class="author">
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="card-info">
                <a href="#">
                    <h3>Transport</h3>
                    <div class="circle-red"><i class="fa-solid fa-van-shuttle"></i></div>
                </a>
            </div>
        </div>
    </div>

        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <div class="card">
            <div class="thumbnail">
                <%= image_tag 'projectors.jpg' %>
                <a href="#" class="thumb-cover"></a>
                <div class="details">
                    <div class="authors-container">
                        <div class="author">
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="card-info">
                <a href="#">
                    <h3>Projector</h3>
                    <div class="circle-red"><i class="fa-solid fa-tv"></i></div>
                </a>
            </div>
        </div>
    </div>

        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <div class="card">
            <div class="thumbnail">
                <%= image_tag 'electronics.jpg' %>
                <a href="#" class="thumb-cover"></a>
                <div class="details">
                    <div class="authors-container">
                        <div class="author">
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="card-info">
                <a href="#">
                    <h3>Electronics</h3>
                    <div class="circle-red"><i class="fa-solid fa-laptop"></i></div>
                </a>
            </div>
        </div>
    </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <div class="card">
            <div class="thumbnail">
                <%= image_tag 'scooter.jpg' %>
                <a href="#" class="thumb-cover"></a>
                <div class="details">
                    <div class="authors-container">
                        <div class="author">
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="card-info">
                <a href="#">
                    <h3>Electric Scooters</h3>
                    <div class="circle-red"><i class="fa-solid fa-bicycle"></i></div>
                </a>
            </div>
        </div>
    </div>

        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <div class="card">
            <div class="thumbnail">
                <%= image_tag 'machine.jpg' %>
                <a href="#" class="thumb-cover"></a>
                <div class="details">
                    <div class="authors-container">
                        <div class="author">
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="card-info">
                <a href="#">
                    <h3>Electronics</h3>
                    <div class="circle-red"><i class="fa-solid fa-hat-wizard"></i></div>
                </a>
            </div>
        </div>
    </div>

</div>
</div>
