  <article class="card">
    <%= image_tag "categories/bike_category.jpeg",
      class: "card__background",
      alt: "Bike category"
    %>
    <div class="card__content | flow">
      <div class="card__content--container | flow">
        <h2 class="card__title">Bikes</h2>
        <p class="card__description">
          Looking for an eco-friendly way to get around town? Or you simply want to have a ride? Check out our bike category and discover a new way to commute.
        </p>
      </div>
      <button class="card__button">
        <a href="<%= items_path(category: "Drones") %>" style="color: #e6e6e6; font-family: $special-font">Explore</a>
      </button>
    </div>
  </article>
</div>
<div class="col-sm-6 col-md-12 col-lg-6">
  <article class="card">
    <%= image_tag "categories/drones_category.jpeg",
      class: "card__background",
      alt: "Drones category"
    %>
    <div class="card__content | flow">
      <div class="card__content--container | flow">
        <h2 class="card__title">Drones</h2>
        <p class="card__description">
          Take your photography to new heights. Browse our drone category to capture stunning aerial shots of your city.
        </p>
      </div>
      <button class="card__button">
        <a href="<%= items_path(category: "Drones") %>" style="color: #e6e6e6;">Explore</a>
      </button>
    </div>
  </article>
</div>
<div class="col-sm-6 col-md-12 col-lg-6 mb-4">
  <article class="card">
    <%= image_tag "categories/tools_category.jpeg",
      class: "card__background",
      alt: "HomeHub category"
    %>
    <div class="card__content | flow">
      <div class="card__content--container | flow">
        <h2 class="card__title">HomeHub</h2>
        <p class="card__description">
          DIY made easy with HomeHub. Browse our collection of tools and home items to find everything you need to get the job done. Borrow what you need and reduce consumption while saving money.
        </p>
      </div>
      <button class="card__button">
        <a href="<%= items_path(category: "Drones") %>" style="color: #e6e6e6;">Explore</a>
      </button>
    </div>
  </article>
</div>
<div class="col-sm-6 col-md-12 col-lg-6 mb-4">
  <article class="card">
    <%= image_tag "categories/photo_category.jpeg",
      class: "card__background",
      alt: "LensLend category"
    %>
    <div class="card__content | flow">
      <div class="card__content--container | flow">
        <h2 class="card__title">LensLend</h2>
        <p class="card__description">
          Join the photography sharing community with LensLend. Borrow lenses and equipment to capture the perfect shot and share your own gear to help others do the same.
        </p>
      </div>
      <button class="card__button">
        <a href="<%= items_path(category: "Drones") %>" style="color: #e6e6e6;">Explore</a>
      </button>
    </div>
  </article>

<!--<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
<div class="row bootstrap snippets bootdeys">
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <div class="card">
            <div class="thumbnail">
                <%= image_tag 'photog.jpg' %>
                <a href="#" class="thumb-cover"></a>
                <div class="details">
                    <div class="authors-container">
                        <div class="author">
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="card-info">
                <a href="#">
                    <h3>Camera & Photography</h3>
                    <div class="circle-red"><i class="fa-solid fa-camera"></i></div>
                </a>
            </div>
        </div>
    </div>

        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <div class="card">
            <div class="thumbnail">
                <%= image_tag 'audio.jpg' %>
                <a href="#" class="thumb-cover"></a>
                <div class="details">
                    <div class="authors-container">
                        <div class="author">
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="card-info">
                <a href="#">
                    <h3>Audio & Visual</h3>
                    <div class="circle-red"><i class="fa-solid fa-microphone"></i></i></div>
                </a>
            </div>
        </div>
    </div>

        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <div class="card">
            <div class="thumbnail">
                <%= image_tag 'music.jpg' %>
                <a href="#" class="thumb-cover"></a>
                <div class="details">
                    <div class="authors-container">
                        <div class="author">
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="card-info">
                <a href="#">
                    <h3>Musical Instruments</h3>
                    <div class="circle-red"><i class="fa-solid fa-guitar"></i></div>
                </a>
            </div>
        </div>
    </div>

        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <div class="card">
            <div class="thumbnail">
                <%= image_tag 'transportation.jpg' %>
                <a href="#" class="thumb-cover"></a>
                <div class="details">
                    <div class="authors-container">
                        <div class="author">
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="card-info">
                <a href="#">
                    <h3>Transport</h3>
                    <div class="circle-red"><i class="fa-solid fa-van-shuttle"></i></div>
                </a>
            </div>
        </div>
    </div>

        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <div class="card">
            <div class="thumbnail">
                <%= image_tag 'projectors.jpg' %>
                <a href="#" class="thumb-cover"></a>
                <div class="details">
                    <div class="authors-container">
                        <div class="author">
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="card-info">
                <a href="#">
                    <h3>Projector</h3>
                    <div class="circle-red"><i class="fa-solid fa-tv"></i></div>
                </a>
            </div>
        </div>
    </div>

        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <div class="card">
            <div class="thumbnail">
                <%= image_tag 'electronics.jpg' %>
                <a href="#" class="thumb-cover"></a>
                <div class="details">
                    <div class="authors-container">
                        <div class="author">
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="card-info">
                <a href="#">
                    <h3>Electronics</h3>
                    <div class="circle-red"><i class="fa-solid fa-laptop"></i></div>
                </a>
            </div>
        </div>
    </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <div class="card">
            <div class="thumbnail">
                <%= image_tag 'scooter.jpg' %>
                <a href="#" class="thumb-cover"></a>
                <div class="details">
                    <div class="authors-container">
                        <div class="author">
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="card-info">
                <a href="#">
                    <h3>Electric Scooters</h3>
                    <div class="circle-red"><i class="fa-solid fa-bicycle"></i></div>
                </a>
            </div>
        </div>
    </div>

        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <div class="card">
            <div class="thumbnail">
                <%= image_tag 'machine.jpg' %>
                <a href="#" class="thumb-cover"></a>
                <div class="details">
                    <div class="authors-container">
                        <div class="author">
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="card-info">
                <a href="#">
                    <h3>Electronics</h3>
                    <div class="circle-red"><i class="fa-solid fa-hat-wizard"></i></div>
                </a>
            </div>
        </div>
    </div>

</div>
</div>-->
