<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
<div class="row bootstrap snippets bootdeys">
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <div class="card">
            <div class="thumbnail">
                <%= image_tag 'photog.jpg' %>
                <a href="#" class="thumb-cover"></a>
                <div class="details">
                    <div class="authors-container">
                        <div class="author">
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="card-info">
                <a href="#">
                    <h3>Camera & Photography</h3>
                    <div class="circle-red"><i class="fa fa-circle-o"></i></div>
                </a>
            </div>
        </div>
    </div>

        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <div class="card">
            <div class="thumbnail">
                <%= image_tag 'photog.jpg' %>
                <a href="#" class="thumb-cover"></a>
                <div class="details">
                    <div class="authors-container">
                        <div class="author">
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="card-info">
                <a href="#">
                    <h3>Camera & Photography</h3>
                    <div class="circle-red"><i class="fa fa-circle-o"></i></div>
                </a>
            </div>
        </div>
    </div>

        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <div class="card">
            <div class="thumbnail">
                <%= image_tag 'photog.jpg' %>
                <a href="#" class="thumb-cover"></a>
                <div class="details">
                    <div class="authors-container">
                        <div class="author">
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="card-info">
                <a href="#">
                    <h3>Camera & Photography</h3>
                    <div class="circle-red"><i class="fa fa-circle-o"></i></div>
                </a>
            </div>
        </div>
    </div>

        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <div class="card">
            <div class="thumbnail">
                <%= image_tag 'photog.jpg' %>
                <a href="#" class="thumb-cover"></a>
                <div class="details">
                    <div class="authors-container">
                        <div class="author">
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="card-info">
                <a href="#">
                    <h3>Camera & Photography</h3>
                    <div class="circle-red"><i class="fa fa-circle-o"></i></div>
                </a>
            </div>
        </div>
    </div>

        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <div class="card">
            <div class="thumbnail">
                <%= image_tag 'photog.jpg' %>
                <a href="#" class="thumb-cover"></a>
                <div class="details">
                    <div class="authors-container">
                        <div class="author">
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="card-info">
                <a href="#">
                    <h3>Camera & Photography</h3>
                    <div class="circle-red"><i class="fa fa-circle-o"></i></div>
                </a>
            </div>
        </div>
    </div>

        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <div class="card">
            <div class="thumbnail">
                <%= image_tag 'photog.jpg' %>
                <a href="#" class="thumb-cover"></a>
                <div class="details">
                    <div class="authors-container">
                        <div class="author">
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="card-info">
                <a href="#">
                    <h3>Camera & Photography</h3>
                    <div class="circle-red"><i class="fa fa-circle-o"></i></div>
                </a>
            </div>
        </div>
    </div>
</div>
</div>
