<!-- <div class="box">
  <div class="filters-index">
    <p>Filter</p>
    <button type="button" class="shiny-btn">
      <a href="<%= new_item_path %>" class="list-item-link" style="color: black; text-decoration: none; margin: 10px 10px;">List item</a>
    </button>
  </div>
  <div class="content-index">
    <div class="col-left">
      <% @items.each do |item| %>
        <%= link_to item_path(item) do %>
          <div class="card-index">
            <%= cl_image_tag item.photos.first.key, class: "cl-img" %>
            <div class="card-index-body">
              <div class="card-index-body-up">
                <h2 class="card-index-title" style="margin-bottom: 0; white-space: nowrap; word-wrap: break-word;"><%= item.name %></h2>
                <h3 class="card-index-category" style="margin-bottom: 10px;"><%= item.category %></h3>
                <div class="card-index-description">
                  <p><%= item.description %></p>
                </div>
                <div class="item-index-price" style="width: 100%">
                  <p style="font-size: 20px; margin-bottom: 0; color: #00264C;"><%= "€" + item.price.round.to_s %>/day</p>
                  <p style="font-size: 12px; margin-bottom: 0; color: gray;">*Plan ahead: <%= item.min_days_rent %> minimum rental period</p>
                </div>
              </div>
            </div>-->
            <!--<div class="item-index-btn">
              <% unless policy(item).owner? %>
                <button type="button" class="book">
                  <%= link_to "Book", new_item_booking_path(item) %>
                </button>
              <% end %>
            </div>
            <%= link_to toggle_favorite_item_path(item),
                        class: "favorite-item-link",
                        data: {turbo_method: :post} do %>
              <% if current_user.favorited?(item) %>
                <i class="fas fa-heart"></i>
              <% else %>
                <i class="far fa-heart" aria-hidden="false"></i>
              <% end %>
            <% end %>-->
          <!--</div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>-->

<div class="box">
  <div class="filters-index">
    <p>Filter</p>
      <button type="button" class="shiny-btn">
        <a href="<%= new_item_path %>" class="list-item-link" style="color: black; text-decoration: none; margin: 10px 10px;">List item</a>
      </button>
  </div>
  <div class="content-index">
    <div class="col-left">
      <% @items.each do |item| %>
        <div class="card-index">
          <%= link_to item_path(item) do %>
            <%= cl_image_tag item.photos.first.key, class: "cl-img" %>
            <div class="card-index-body">
              <div class="card-index-body-up">
                <h2 class="card-index-title" style="margin-bottom: 0;"><%= item.name %></h2>
                <h3 class="card-index-category"><%= item.category %></h3>
                <p style="color: #00264C; overflow: hidden; overflow: auto;"><%= item.description %></p>
              </div>
              <div class="card-index-body-down">
                <div class="card-index-details">
                  <div class="item-index-price" style="width: 100%">
                    <p style="font-size: 20px; margin-bottom: 0; color: #00264C;"><%= "€" + item.price.round.to_s %>/day</p>
                    <p style="font-size: 12px; margin-bottom: 0; color: gray;">*Plan ahead: <%= item.min_days_rent %> minimum rental period</p>
                  </div>
                </div>
                <div class="item-index-btn">
                  <% unless policy(item).owner? %>
                    <button type="button" class="book">
                      <%= link_to "Book", new_item_booking_path(item) %>
                    </button>
                  <% end %>
                </div>
              </div>
            </div>
            <%= link_to toggle_favorite_item_path(item),
                        class: "favorite-item-link",
                        data: {turbo_method: :post} do %>
              <% if current_user.favorited?(item) %>
                <i class="fas fa-heart"></i>
              <% else %>
                <i class="far fa-heart" aria-hidden="false"></i>
              <% end %>
            <% end %>
          <% end %>
        </div>
      <% end %>
      <div class="index-pagination">
        <% (0..4).each do |page_num| %>
          <% if params[:page].to_i == page_num %>
            <div class="page-num current-page"><%= page_num + 1 %></div>
          <% elsif page_num < 5 %>
            <%= link_to page_num + 1, items_path(page: page_num), class: "page-num" %>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="col-right">
      <div data-controller="map"
        id='map'
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
        data-map-markers-value="<%= @markers.to_json %>"
        style='width: 100%; height: 93vh; position: sticky; top: 70px; z-index: 0;'>
      </div>
    </div>
  </div>
</div>

<!--<div class="list-item-container">
  <button type="button" class="btn btn-primary">
    <%= link_to "List an item", new_item_path, class: "list-item-link" %>
  </button>
</div>
  <div class="container-grid">
    <div class="checkout-all-our-items">
      <div class="list-an-item">
      <h2>See all our items or list a new one</h2>
      </div>
      <div class="row">
        <% @items.each do |item| %>
          <div class="col-sm-3">
            <%= link_to item_path(item) do %>
              <div class="card">
                <%= cl_image_tag item.photos.first.key, class: "item-card-img" %>
                <div class="card-body">
                  <h5 class="card-title"><%= item.name %></h5>
                  <p class="card-text"><%= item.category %></p>
                </div>
                  <%= link_to toggle_favorite_item_path(item),
                            class: "favorite-item-link",
                            data: {turbo_method: :post} do %>
                  <% if current_user.favorited?(item) %>
                    <i class="fas fa-heart"></i>
                  <% else %>
                    <i class="far fa-heart" aria-hidden="false"></i>
                  <% end %>
                <% end %>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

<div data-controller="map"
     id='map'
     data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
     data-map-markers-value="<%= @markers.to_json %>"
     style='width: 100%; height: 300px;'>
</div>-->
