<div class="container-grid">
  <div class="checkout-all-our-items">
    <h2>Check out all our items</h2>
    <%= render "shared/search_form", style: "max-width: 400px;" %>
  </div>
  <div class="items-index">
    <ul>
      <% @items.each do |item| %>
        <li>
          <%= link_to item.name, item_path(item) %> - <%= item.category %>
          <%= link_to current_user.favorited?(item) ? "Unlike" : "Like",
            toggle_favorite_item_path(item),
            data: {turbo_method: :post},
            remote: true %>
        </li>
        <%= image_tag item.picture, height: 300, width: 400, crop: :fill %>
      <% end %>exit
    </ul>
  </div>
  <div class="list-an-item">
    <h2>Want to list an item?</h2>
    <button type="button" class="btn btn-primary">
      <%= link_to "List an item", new_item_path, class: "list-item-link" %>
    </button>
  </div>
</div>

<style>
  .checkout-all-our-items {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-column: 1 / 4;
  }

  form {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  label {
    width: 100%;
    max-width: 300px;
    margin: 0 10px;
  }

  input[type="text"] {
    flex: 1;
    max-width: 300px;
    margin: 0 10px;
  }

  input[type="submit"] {
    max-width: 200px;
    margin: 10px;
  }

  .container-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    margin: 10px;
  }

  .list-an-item {
    grid-column: 1 / 4;
    text-align: center;
  }

  .items-index {
    grid-column: 1 / 3;
    text-align: center;
  }

  .list-item-link:hover {
  color: white;
  animation: blink 1s infinite;
  }

  .list-item-link:visited {
    color: white;
    text-decoration: none;
  }

  .list-item-link:active {
    color: white;
    text-decoration: none;
  }

  .list-item-link {
    color: white;
    text-decoration: none;
  }

  @keyframes blink {
    50% {
    opacity: 0;
    }
  }
</style>
