<div class="myitems-main">
  <div class="myitems-main-left">
    <p style="font-size: 36px; font-weight: bold; color: #111111;">My items</p>
    <p style="font-size: 24px; color: #111111;">You have <%= current_user.items.count %> listed items</p>
    <div class="left-wall">
      <%= image_tag("wallpapers/pages/myitems.png", alt: "My items", size: "300x300") %>
    </div>
  </div>
  <div class="myitems-main-right">
    <% @my_items.each do |item| %>
      <div class="myitems-card">
        <div class="myitems-tumb">
          <% item.photos.each do |photo| %>
            <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
          <% end %>
        </div>
        <div class="myitems-details">
          <span class="myitems-category"><%= item.category %></span>
          <h4><a href=""><%= link_to item.name, item_path(item) %></a></h4>
          <p><%= item.description %></p>
          <div class="myitems-bottom-details">
            <div class="myitems-price"><%= "€" + item.price.round.to_s %>/day</div>
            <div class="myitems-links">
              <a href=""><i class="fa fa-heart"></i></a>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<!--
<div class="myitems-bar">
  <h2>My items</h2>
  <button type="button" class="shiny-btn">
    <a href="<%= new_item_path %>" class="list-item-link" style="color: black; text-decoration: none; margin: 10px 10px;">List item</a>
  </button>
</div>

<div class="myitems-main">
  <% @my_items.each do |item| %>
    <div class="myitems-card">
      <div class="myitems-tumb">
        <% item.photos.each do |photo| %>
          <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
        <% end %>
      </div>
      <div class="myitems-details">
        <span class="myitems-category"><%= item.category %></span>
        <h4><a href=""><%= link_to item.name, item_path(item) %></a></h4>
        <p><%= item.description %></p>
        <div class="myitems-bottom-details">
          <div class="myitems-price"><%= "€" + item.price.round.to_s %>/day</div>
          <div class="myitems-links">
            <a href=""><i class="fa fa-heart"></i></a>
            <a href=""><i class="fa fa-shopping-cart"></i></a>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
-->
