<head>
  <link rel="stylesheet" href="/stylesheets/signinup">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="/javascript/controllers/signinupform.js"></script>
</head>
<div style="background-image: url(<%= asset_path 'wallpapers/wallpaper5.jpg' %>); background-position: center center; background-repeat: no-repeat; background-size: cover;">
  <div class="signup-form-container" style="display: flex; justify-content: center; flex-direction: row; align-items: center; width: 80%; background-color: lightgrey; padding: 50px; height: 90vh; min-height: 100vh; background: transparent; margin-left: 50px;">
    <div class="new-item-container" style="display: flex; justify-content: center; flex-direction: row; align-items: center; width: 80%;">
      <div class="form-inputs" style="display: flex; justify-content: center; align-items: center; width: 75%; max-width: 550px;">
        <%= simple_form_for(@item) do |f| %>
          <div class="field required">
            <%= f.input :photos, as: :file, input_html: { multiple: true, class: "text-input file-input" } %>
          </div>

          <div class="field required">
            <%= f.input :category,
              collection: ['Film & photography', 'Audio & visual', 'Projectors & screens', 'Drones', 'DJ equipment', 'Storage', 'Electronics', 'Transport', 'Party & Events', 'Sports', 'Home, office & garden', 'Clothing', 'Holiday & travel', 'Musical instruments', 'Kids & baby'],
              input_html: {class: "text-input", style: "background-color: black;"} %>
          </div>
          <div class="field required">
            <%= f.input :name, input_html: {class: "text-input", style: "background-color: black; color: white;"} %>
          </div>
          <div class="field required">
            <%= f.input :description, input_html: {class: "text-input", style: "background-color: black; color: white;"} %>
          </div>
          <div class="field required">
            <%= f.input :postal_code, input_html: {class: "text-input", style: "background-color: black; color: white;"} %>
          </div>
          <div class="field required">
            <%= f.input :quantity, input_html: { id: "item_quantity", class: "text-input", style: "background-color: black; color: white;" } %>
          </div>

          <div class="field required">
            <%= f.input :min_days_rent, input_html: { id: "item_min_days_rent", class: "text-input", style: "background-color: black; color: white;" } %>
          </div>

          <div class="field required">
            <%= f.input :price, input_html: { id: "item_price", class: "text-input", style: "background-color: black; color: white;" } %>
          </div>

          <div class="form-actions" style="display: flex; flex-direction: column; justify-content: center;">
            <button class="button" style="border-radius: 20px; width: 180px; height: 50px; display: flex; justify-content: center; align-items: center; margin: 20px; margin-left:45%;">
              <%= f.button :submit, "Upload", class: "button" %>
            </button>
          </div>
        <% end %>
      </div>
      <div id="preview-container" class="col-md-6">
        <div class="card">
          <div class="card-body">
            <img id="preview-image" class="card-img-top" height="300" width="400" src="#" alt="Image preview" style="display: none;">
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <h1 id="preview-name"></h1>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><strong>Category:</strong> <span id="preview-category"></span></li>
              <li class="list-group-item"><strong>Description:</strong> <span id="preview-description"></span></li>
              <li class="list-group-item"><strong>Postal code:</strong> <span id="preview-postal-code"></span></li>
              <li class="list-group-item"><strong>Quantity:</strong> <span id="preview-quantity"></span></li>
              <li class="list-group-item"><strong>Minimum rental days:</strong> <span id="preview-min-days-rent"></span></li>
              <li class="list-group-item"><strong>Price:</strong> <span id="preview-price"></span></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
<style>

.button {
  font: inherit;
  line-height: normal;
  cursor: pointer;
  background: #E8474C;
  color: white;
  font-weight: bold;
  width: auto;
  margin-left: auto;
  font-weight: bold;
  padding-left: 2em;
  padding-right: 2em;
  border-radius: 20px;
  width: 180px;
}

.required {
  border-radius: 20px;
}

.text-input {
  background-color: black;
  color: white; /* optional - this sets the text color to white to improve visibility on a black background */
  border: 1px solid #ccc;
  padding: 10px;
  font-size: 16px;
}

.text-input.file-input input[type="file"] {
  background-color: black;
  color: white;
  padding: 10px;
  border: 1px solid #ccc;
}

.text-input.file-input input[type="file"]::-webkit-file-upload-button {
  padding: 10px;
  margin: 5px;
  border: none;
  background-color: #ccc;
  color: white;
  border-radius: 5px;
  font-weight: bold;
}

.text-input.file-input input[type="file"]::-ms-browse {
  padding: 10px;
  margin: 5px;
  border: none;
  background-color: #ccc;
  color: white;
  border-radius: 5px;
  font-weight: bold;
}

</style>
<script>
  function readURL(input) {
    if (input.files && input.files[0]) {
      var reader = new FileReader();

      reader.onload = function (e) {
        $('#preview-image').attr('src', e.target.result);
        $('#preview-image').css('display', 'block');
      };

      reader.readAsDataURL(input.files[0]);
    }
  }

  $("#item_photos").change(function () {
    readURL(this);
  });

  $("#item_name").keyup(function () {
    $("#preview-name").text($(this).val());
  });

  $("#item_category").change(function () {
    $("#preview-category").text($(this).val());
  });

  $("#item_description").keyup(function () {
    $("#preview-description").text($(this).val());
  });

  $("#item_postal_code").keyup(function () {
    $("#preview-postal-code").text($(this).val());
  });

  $("#item_quantity").on('input', function () {
    $("#preview-quantity").text($(this).val());
  });

  $("#item_min_days_rent").on('input', function () {
    $("#preview-min-days-rent").text($(this).val());
  });

  $("#item_price").on('input', function () {
    $("#preview-price").text($(this).val());
  });
</script>
