<div class="form-container">
  <%= form_for([@item, @booking, @review]) do |f| %>

    <div class="star-rating-container">
      <h3>Rate your experience</h3>
      <div class="star-rating" data-rating="0">
          <% (1..5).each do |rating| %>
          <span class="star" data-value="<%= rating %>">&#9733;</span>
        <% end %>
        <%= f.hidden_field :rating, class: "rating-value" %>
      </div>
    </div>
    <div class="comment-container">
      <h3>Write your comment</h3>
      <%= f.text_area :comment %>
    </div>
    <div class="submit-container">
      <%= f.submit "Submit" %>
    </div>
</div>
  <% end %>

<style>
  h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  .submit-container {
    margin: 10px;
  }
  .form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
  }
  .star-rating {
    display: flex;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
    margin: 20px;
    padding: 20px;
  }
  .star-rating .star {
    color: #999;
  }
  .star-rating .star.gold {
    color: #ffd700;
  }
  .comment-container {
    width: 100%;
    max-width: 430px;
    margin-top: 20px;
  }
</style>

<script>
  const stars = document.querySelectorAll('.star');
  const ratingValue = document.querySelector('.rating-value');

  stars.forEach(star => {
    star.addEventListener('mouseenter', function() {
      fillStars(this, true);
    });

    star.addEventListener('mouseleave', function() {
      fillStars(this, false);
    });

    star.addEventListener('click', function() {
      const value = this.dataset.value;
      ratingValue.value = value;
      this.parentElement.setAttribute('data-rating', value);
    });
  });

  function fillStars(star, hover) {
    const parent = star.parentElement;
    const rating = hover ? star.dataset.value : parent.getAttribute('data-rating');
    stars.forEach((s, index) => {
      if (index < rating) {
        s.classList.add('gold');
      } else {
        s.classList.remove('gold');
      }
    });
  }
</script>
